*{
	padding:0;
	margin:0;
}
.wrapper{
    width: 100%;
    height: 800px;
}
.sidebar{
	float: left;
	width: 14%;
	height: 100%;
	background-color: rgb(47, 47, 30);
}
.sidebar ul a{
	display: block;
	width: 100%;
	line-height: 50px;
	padding-left: 10px;
	text-decoration: none;
	box-sizing: border-box;
	color: white;
	font-size: 20px;
	border-bottom: 1px solid rgb(204, 204, 179);
}
.sidebar ul a:hover{
	background-color: yellow;
	color:black;
}
.container{
    width: 86%;
    height: 100%;
    float: left;
}
.Search-box{
    width: 100%;
    height: 6%;
    box-sizing: border-box;
	border-bottom: 1px solid rgb(204, 204, 179);
}
.Search-box input[type=text]
{
	margin-left: 46px;
	margin-top: 15px;
	font-size: 20px;
    border: none;
    font-family: Roboto;
}
.button-container{
    position: relative;
    top: 1%;
    width:100% ;
    height: 10%;
}
#button1{
    width: 20%;
    position: relative;
    top: 5%;
    height: 80%;
    left: 46px;
    font-size: 20px;
    border-radius: 5%;
}
#button2{
    background-color: yellow;
    width: 20%;
    position: relative;
    top: 5%;
    left: 60px;
    height: 80%;
    font-size: 20px;
    border-radius: 5%;
    border: 1px solid yellow;
}
.Date-container{
    position: relative;
    height: 3%;
    width: 100%;
}
.Date{
    width: 10%;
    position: relative;
    top:1%;
    left: 46px;
    float: left;
}
.Date button{
    border: none;
}
.hr{
    position: relative;
    top: 1%;
    float: left;
    width: 83%;
    left: 50px;
}
.hr hr{
   position: relative;
   top: 10px;
    
}
.Box-container{
    position: relative;
    width: 100%;
    height: 80%;
}
.Box{
    width: 32%;
    height: 100%;
    float: left;
}
.left-box{
    width: 90%;
    height: 30%;
    background-color: plum;
    margin: 2px 46px 0px;
    border-radius: 2%;
    font-size: 18px;
}
.Email-name
{
    position: relative;
    top: 5px;
    left: 10px;
}
.Email-date{
    position: relative;
    top: 5px;
    float: right;
    right: 10px;
    opacity: .9;
}
.Email-from{
    position: relative;
    left: 10px;
    top: 5px;
    opacity: 0.9;
}
.Email-text{
    position: relative;
    left: 10px;
    top: 10px;
    right: 10px;
}
.star{
    position: relative;
    left: 10px;
    top: 15px;
    color: gray;
}
.checked{
    color: yellow;
}
.btn-1{
    position: relative;
    left: 215px;
    top: 15px;
    border: none;
    font-size: 18px;
    background: rgb(221, 165, 221);
}
.btn-2{
    position: relative;
    left: 230px;
    top: 17px;
    border: none;
    font-size: 18px;
    background: rgb(221, 165, 221);;
}
.input-container{
    width: 90%;
    margin: 0px 46px 0px;
    height: 7%;
    border-radius: 3%;
    border: 1px solid;
}
.input-container input{
    width: 84%;
    height: 100%;
    font-size: 15px;
   border: none;
    text-align: 12px;
    padding-left: 10px;
}
.input-container button{
    height: 100%;
    border: none;
    width: 8%;
    background-color: white;
    font-size: 15px;
}
.last-box{
    height: 16%;
}
.middle-box{
    margin: 2px 46px 0px;
    width: 90%;
    height: 45%;
    background-color: rgb(221, 165, 221);;
    border-radius: 3%;
}
.lower{
    margin-top: 25px; 
}